<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="c88832e2-eb1e-473f-bfe6-12647ddbceee" Publisher="CN=altinok.darici" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c88832e2-eb1e-473f-bfe6-12647ddbceee" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>iPower.WindowsPhone</DisplayName>
    <PublisherDisplayName>altinok.darici</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="iPower.WindowsPhone.App">
      <m3:VisualElements DisplayName="iPower Dinle" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Bu uygulama ile Power FM, PowerTürk, Power Love FM, Power XL, Power Smooth Jazz, Power Rocks, Power Dance, Power Minimix, Power Salsa, PowerTürk Akustik, PowerTürk Taptaze, PowerTürk Aşk radyolarını dinleyebilirsiniz." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>